<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.luke_imagevideo_send">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission
        android:name="android.permission.MANAGE_MEDIA_PROJECTION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logoqq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoqq"
        android:supportsRtl="true"
        android:theme="@style/NoAction"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".cehouyi.MainCHYActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".yingduji.activity.MainYDJActivity" />
        <activity android:name=".chifen.magnetic.activity.SettingActivity" />
        <activity android:name=".main.activity.PermissionActivity" />
        <activity android:name=".chifen.camera.activity.SeeImageOrVideoActivity" />
        <activity android:name=".chifen.camera.activity.AlbumActivity" />
        <activity android:name=".main.activity.WelcomeActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".chifen.magnetic.activity.SendSelectActivity"/>
        <activity android:name=".chifen.magnetic.activity.MainActivity" />
        <activity android:name=".main.activity.CaptureActivity" />
        <activity android:name=".bluetooth.BluetoothListActivity" />
        <activity android:name=".chifen.camera.activity.PhotoActivity" />
        <activity android:name=".chifen.camera.activity.HaveAudioActivity" />
        <activity android:name=".chifen.camera.activity.NoAudioActivity" />
    </application>

</manifest>